<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat-BOT</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="../static/img/favicon-semeq.png" type="image/x-icon">
</head>
<body>
        <div>
            <div class="img__logo">
                <img src="../static/img/logo-semeq-branco.png" alt="">
            </div>
        </div>
        <div class="chat">
            <div class="chat__demo">
                    <div class="chat__demo-exemplos">
                        <div class="chat__demo-icon">
                            <i class='bx bx-notepad'></i>
                            <p style="color: white;">
                                Exemplos
                            </p>
                        </div>

                        <div class="chat__demo-example">
                            <button>
                                "Coletor está com alerta de overload..."
                            </button>
                        </div>

                        <div class="chat__demo-example">
                            <button>
                                "Priorização do mysemeq não carrega..."
                            </button>
                        </div>

                        <div class="chat__demo-example">
                            <button>
                                "Falha de conexão na telefonica dedicado"
                            </button>
                        </div>

                    </div>

                    <div class="chat__demo-caracteristicas">
                        <div class="chat__demo-icon">
                            <i class='bx bx-cog' ></i>
                            <p style="color: white;">
                                Funcionalidades
                            </p>
                        </div>

                        <div class="chat__demo-example">
                            <button>
                                O chatbot possui um banco de dados de problemas e suas soluções divididas por nível.
                            </button>
                        </div>

                        <div class="chat__demo-example">
                            <button>
                                O chatbot possui um sistema de filtro que identifica o assunto tratado.
                            </button>
                        </div>

                        <div class="chat__demo-example">
                            <button>
                                O chatbot pode realizar perguntas para melhorar o seu entendimento sobre o assunto tratado.
                            </button>
                        </div>

                    </div>

                    <div class="chat__demo-regras">
                        <div class="chat__demo-icon">
                            <i class='bx bx-error'></i>
                            <p style="color: white;">
                                Regras
                            </p>
                        </div>

                        <div class="chat__demo-example">
                            <button>
                                Não utilize menssagens ofensivas. Lembre-se que você está em uma plataforma para uso profissional.
                            </button>
                        </div>

                        <div class="chat__demo-example">
                            <button>
                                O chatbot Semeq não é para entretenimento. Os assuntos tratados são de interesses operacionais.
                            </button>
                        </div>

                        <div class="chat__demo-example">
                            <button>
                                Seja claro nos seus questionamentos para obter respostas mais assertivas.
                            </button>
                        </div>

                    </div>

            </div>
            <div class="chat__messages">

            </div>
        </div>
        <div class="chat__input">
            <input type="text" placeholder="Digite uma mensagem..." class="text__chat">
            <button class="text__chat__button"><i class='bx bx-send'></i></button>
        </div>
    <script src="../static/script.js"></script>
</body>
</html>